.about-us {
  padding-left: 30px;
  padding-right: 30px;
}

.about-us__title {
  font-size: @body-font-size + 10px;
  line-height: 30px;
  font-weight: bold;
}

.about-us__list {
  padding: 0;
  list-style: none;
  line-height: 20px;
  font-weight: bold;
}
