.about-us {
  padding-left: 30px;
  padding-right: 30px;
  &__title {
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
  }
  &__list {
    list-style: none;
    line-height: 20px;
    font-weight: bold;
  }
}
