.catalog {
  padding: 34px 30px;
}

.catalog__list {
  .listStyle();
}

.catalog__item {
  border: 1px solid @gray;
  margin-bottom: 30px;
}

.catalog__content {
  padding-top: 22px;
  padding-left: 28px;
  padding-right: 28px;
}

.catalog__title {
  font-size: @body-font-size + 2px;
  font-weight: bold;
  line-height: 24px;
  margin: 0;
  padding-bottom: 17px;
}

.catalog__description {
  font-size: @body-font-size - 2px;
  padding-bottom: 27px;
  margin: 0;
}

.catalog__image {
  width: 100%;
  height: auto;
}

.catalog__cart {
  display: flex;
  border-top: 1px solid @gray;
  padding-top: 22px;
  padding-bottom: 25px;
  justify-content: space-between;
}

.catalog__price {
  font-weight: bold;
  line-height: 24px;
}

.catalog__cart-link {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .catalog {
    padding: 0 52px;
    margin-bottom: 53px;
  }

  .catalog__image-wrapper {
    width: 60%;
  }

  .catalog__list {
    margin: 0;
    padding: 0;
  }

  .catalog__item {
    margin-bottom: 53px;
  }

  .catalog__image {
    height: 100%;
  }

  .catalog__info {
    display: flex;
    flex-direction: row;
  }

  .catalog__content {
    width: 40%;
    padding: 29px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .catalog__title {
    font-size: @body-font-size + 5px;
    padding-bottom: 15px;
  }

  .catalog__description {
    font-size: @body-font-size;
  }

  .catalog__price {
    font-size: @body-font-size + 2px;
  }
}

@media (min-width: 1150px) {
  .catalog {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 57px;
  }

  .catalog__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .catalog__item {
    flex-direction: column;
    margin-right: 48px;
    max-width: 316px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }

  .catalog__info {
    display: flex;
    flex-direction: column;
  }

  .catalog__image {
    height: 462px;
    width: auto;

  }

  .catalog__content {
    width: 100%;
    padding: 29px 28px 32px;
    height: calc(100% - 236px);
  }
}
