.intro {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-color: @gray-2;
  position: relative;
}

.intro__title {
  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 76px 30px 120px;
  color: @darkbrown;
}

.intro__category {
  margin-top: 15px;
}

.intro__list {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.intro__item {
  background-color: @seafoam-blue;
  height: 103px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;

  &--dark {
    background-color: @greeny-blue;
  }
}

.intro__item__icon {
  &::after {
    content: "";
    display: block;
    opacity: 0.5;
  }

  &--interier {
    &::after {
      background-image: url("../img/icon-interior.svg");
      width: 40px;
      height: 62px;
    }
  }

  &--toys {
    &::after {
      background-image: url("../img/icon-toy.svg");
      width: 60px;
      height: 60px;
    }
  }
}

.intro__link {
  font-size: 17px;
  color: @white;
  line-height: 24px;
  font-weight: bold;
  width: 50%;
}

@media (min-width: @tablet-width) {
  .intro {
    background-image: url("../img/hero-tablet@1x.jpg");
    padding: 0 52px;
    margin-bottom: 43px;

    &::after {
      content: "";
      display: block;
      background: url("../img/bg-zigzag-fill.svg") repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 24px;
      position: absolute;
      bottom: -13px;
      left: 0;
    }
  }

  .intro__category {
    margin-top: 0;
  }

  .intro__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 161px;
    padding-bottom: 318px;
  }

  .intro__list {
    margin-top: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .intro__item {
    height: 119px;
    width: 50%;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 71px;
    background-image: url("../img/hero-desktop-jpg.png");

    &::after {
      content: "";
      display: block;
      background: url("../img/zigzag-fill-desktop-svg.svg") repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 34px;
      position: absolute;
      bottom: -13px;
      left: 0;
    }
  }

  .intro__wrapper {
    max-width: 1150px;
    margin: 0 auto;
  }

  .intro__title {
    font-size: 53px;
    line-height: 57px;
    padding-bottom: 354px;
  }

  .intro__category {
    padding-left: 50px;
    padding-right: 50px;
  }
}
