.page-footer {
  padding-left: 30px;
  padding-right: 30px;
  &__social {
    list-style: none;
  }
}

.social-list {
  display: flex;
  flex-direction: row;
  &__item {
    &--instagram {
      background-image: url("../img/icon-insta.svg");
      height: 21px;
      width: 22px;
    }
    &--facebook {
      background-image: url("../img/icon-fb.svg");
      height: 28px;
      width: 15px;
    }
    &--twitter {
      background-image: url("../img/icon-twitter.svg");
      height: 20px;
      width: 23px;
    }
  }
}
