.product-week {
  padding-left: 30px;
  padding-right: 30px;
  &__title {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 33px;
    padding-bottom: 8px;
    font-size: @body-font-size + 10px;
    font-weight: bold;
  }
  &__promo {
    text-transform: uppercase;
    font-size: @body-font-size + 2px;
    color: @seafoam-blue;
  }
  &__card {
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 33px;
  }
  &__description {
    margin: 0px;
    padding-bottom: 33px;
  }
  &__price {
    padding-top: 29px;
    text-align: center;
    font-size: @body-font-size + 2px;
  }
  &__cart {
    text-align: center;
    font-size: @body-font-size + 2px;
  }
}
