.reviews {
  padding-left: 30px;
  padding-right: 30px;
  &-quotes {
    margin-bottom: 36px;
  }
  &__title {
    font-size: @body-font-size + 10px;
  }
  &__text {
    margin: 0px;
    padding-top: 38px;
    margin-bottom: 40px;
    font-size: @body-font-size;
  }
  &__pagination {
    display: flex;
    flex-direction: row;
  }
}
