.reviews {
  .zigzagLine();
  padding: 34px 30px;
  padding-top: 7px;
}

.reviews-quotes {
  margin-bottom: 36px;
}

.reviews__title {
  margin: 0;
  padding-bottom: 38px;
  font-size: @body-font-size + 10px;
}

.reviews-quotes__text {
  margin: 0;
  padding-top: 38px;
  padding-bottom: 40px;
  font-size: @body-font-size;
}

.reviews-quotes__autor {
  margin: 0;
  font-size: @body-font-size + 2px;
  font-weight: bold;
}

.reviews-quotes__autor-link {
  margin: 0;
}

.reviews__pagination {
  display: flex;
  flex-direction: row;
  margin: 36px 0 38px;
}

.reviews__btn {
  border: solid 1px @gray;
  background-color: @white;
  width: 50%;
  height: 52px;
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &--next {
    transform: rotate(180deg);
    border-right: none;
  }
}
