.video {
  margin: 0 30px 58px 30px;
  border: 1px solid @gray;
  display: flex;
  flex-direction: column;
}

.video__wrapper {
  padding: 29px 34px 26px 34px;
  display: flex;
  align-items: center;
}

.video__title {
  margin: 0;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
}

.video__icon {
  margin-right: 25px;
}

.video__image {
  width: 100%;
  height: auto;
}

.video__info {
  margin: 0;
  padding: 25px 34px 29px 34px;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
}

.video__cart {
  margin: 0 34px 33px 34px;
  width: 192px;
}

@media (min-width: @tablet-width) {
  .video {
    margin: 0 51px 63px 51px;
  }

  .video__wrapper {
    padding: 43px 47px 41px 42px;
    order: 2;
  }

  .video__player {
    order: 1;
  }

  .video__description {
    order: 3;
  }

  .video__info {
    margin: 0;
    padding: 0 42px 40px 42px;
    font-size: 15px;
  }

  .video__cart {
    width: 584px;
    height: 52px;
    font-size: 17px;
    font-weight: bold;
    margin: 0 42px 46px 42px;
  }
}
