@body-background: #ffffff;
@gray: #f1f1f1;
@darkbrown: #010000;
@seafoam-blue: #63d1bb;
@greeny-blue: #56c3b2;

@font-regular: "opensans";
@font-bold: "@{font-regular}bold";
@fonts: "../fonts";
@body-font-size: 15px;

@primary-text-color: #000000;

@mobile-width: 320px;
